* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  background-color: rgb(237, 234, 234);
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

.left_header {
  display: flex;
}

.email_header,
.clock_header,
.phone_header {
  display: flex;
  margin: 10px 30px;
  align-items: center;
}

.left_header .ingredient_header {
  font-size: 18px;
  color: #575656;
  line-height: 1;
  margin-left: 5px;
}

.email_header1:hover,
.phone_header1:hover {
  color: blue;
  cursor: pointer;
  text-decoration: underline solid blue;
}

/* right_header */
.right_header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.right_header img {
  width: 25px;
  height: 25px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 50%;
}



/* Responsive Styles */
@media screen and (max-width: 768px) {
  #header {
      flex-direction: column;
      align-items: center;
  }

  .left_header,
  .right_header {
      justify-content: center;
  }

  .email_header,
  .clock_header,
  .phone_header {
      margin: 5px 0;
  }

  .right_header a {
      margin: 5px 10px;
  }
}

@media screen and (max-width: 480px) {
  .left_header .ingredient_header {
      font-size: 16px;
  }

  .right_header ion-icon {
      margin: 5px;
  }
}

/* content */
#content {
  max-width: 100%;
}

.header_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_content .logo {
  width: 180px;
  height: 180px;
}

.header_content .search:hover {
  background-color: #76aa33;
  cursor: pointer;
}


.giohang_content {
  display: flex;
  margin: 0px 15px;
}

.giohang_content .giohang_center {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}

/* menu */
#menu {
  width: 100vw;
  max-width: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 1;
}

#menu .menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
}

#menu .nav_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

#menu .nav_menu li {
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0px 25px;
}

#menu .nav_menu li:hover {
  color: #8BC34A;
}

#menu .search {
  display: flex;
  align-items: center;
  border: 2px solid #8BC34A;
  border-radius: 5px;
  width: 300px;
}

#menu .search input[type="text"] {
  border: 2.5px solid #8BC34A;
  outline: none;
  padding: 10px;
  flex: 1;
}

#menu .search button {
  background-color: #8BC34A;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#menu .search button img {
  width: 16px;
  height: 16.5px;
}

/*  giỏ hàng */
.giohang
{
  display: flex;
  text-transform: none;
}
.login
{
  text-transform: none;
}
.giohang
{
  border: 3px solid #76aa33;
  border-radius: 10px;
  padding: 5px;
}
.giohang p
{
  margin-left: 5px;
  margin-top: 2px;
}
.login p
{
  color: #c6c6c6;
}
#content
{
  width: 100%;
  margin: 10px;
}
.header_content
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left_content, .right_content
{
  display: flex;
}
.left_content .trangchu
{
  font-size: 18px;
  color: #575656;
}
.left_content .trangchu:hover
{
  color: #000;
  cursor: pointer;
}
.left_content .shoes_football
{
  font-weight: bold;
  font-size: 20px;
}
.right_content p
{
  font-size: 18px;
  margin-right: 10px;
  margin-top: 10px;
}
.right_content .luachon
{
  height: 40px;
  font-size: 16px;

}
/* left_center_content */
.left_center_content
{
  width: 20%;
  margin-left: 11%;
}
.left_center_content .product
{
  width: 100%;
  border-radius: 10px;
  background-color: #eeeeee;
  box-shadow: 0px 0px 10px #6e6e6e;
}
.left_center_content .product .danhmucsanpham_1
{
  text-align: center;
  font-size: 18px;
  margin: 8px 0px;
  text-transform: uppercase;
  color: #575656;
}
.left_center_content .product hr
{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.left_center_content .product .danhmucsanpham
{
  font-size: 20px;
  font-weight: 550;
  background-color: #acabab;
  border-radius: 10px;
  text-align: center;
  padding: 8px 5px;
  width: 100%;
  margin-left: 0;
}
.left_center_content .product  #danhmucsanpham_2:hover
{
  color: #95d343;
  cursor: pointer;
}
/* bottom_product */
.bottom_product
{
  width: 100%;
  background-color: #eeeeee;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #6e6e6e;
  margin: 20px 0px;
}
.bottom_product .like
{
  text-transform: uppercase;
  font-weight: 550;
  font-size: 18px;
  background-color: #acabab;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  margin: 0;
  padding: 8px 0px;
}
/* name_procduct */
 .price
{
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
}
.price .sale
{
  color: red;
}
.name_product .name_sp
{
  font-size: 23px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* định hướng phần tử theo chiều dọc  */
  overflow: hidden;
  text-overflow: ellipsis;
  /* thêm dấu ... nếu nội dung bị cắt */
}
.name_product .name_sp:hover
{
  color: #95d343;
  cursor: pointer;
}
.name_product, p ,s
{
  margin: 5px;
}
.sanpham_bottom .box
{
  display: flex;
  justify-content: center;
}
.bottom_product hr
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
