*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
#header
{
    background-color:rgb(237, 234, 234);
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;
}
.left_header
{
    display: flex;
}

.email_header,
.clock_header,
.phone_header
{
    display: flex;
    margin: 10px 10px;
}
.left_header .ingredient_header
{
    font-size: 18px;
    color: #575656;
    line-height: 1;
    margin-left: 5px;
}
.email_header1:hover,
.phone_header1:hover
{
    color: blue;
    cursor: pointer;
    text-decoration: underline solid blue;
}
/* right_header */
.right_header ion-icon
{
    width: 20px;
    height: 20px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 50%;
}
.right_header ion-icon:hover
{
    background-color: red;
    color: #fff;
}

