* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    background-color: rgb(237, 234, 234);
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.left_header {
    display: flex;
    flex-wrap: wrap;
}

.email_header,
.clock_header,
.phone_header {
    display: flex;
    margin: 10px 10px;
    align-items: center;
}

.left_header .ingredient_header {
    font-size: 18px;
    color: #575656;
    line-height: 1;
    margin-left: 5px;
}

.email_header1:hover,
.phone_header1:hover {
    color: blue;
    cursor: pointer;
    text-decoration: underline solid blue;
}

/* right_header */
.right_header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.right_header ion-icon {
    width: 20px;
    height: 20px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 50%;
}

.right_header ion-icon:hover {
    background-color: red;
    color: #fff;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    #header {
        flex-direction: column;
        align-items: center;
    }

    .left_header,
    .right_header {
        justify-content: center;
    }

    .email_header,
    .clock_header,
    .phone_header {
        margin: 5px 0;
    }

    .right_header a {
        margin: 5px 10px;
    }
}

@media screen and (max-width: 480px) {
    .left_header .ingredient_header {
        font-size: 16px;
    }

    .right_header ion-icon {
        margin: 5px;
    }
}
/* content */
#content
{
    max-width: 100%;

}
.header_content
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_content .logo
{
  width: 180px;
  height: 180px;
}
.header_content .search_sanpham
{
    width: 310px;
    height: 33px;
    font-size: 15px;
    border: 2px solid #99ca58;
    box-shadow: 0px 0px 3px #99ca58;
}
.header_content .search
{
    width: 50px;
    height: 34px;
    margin-left: -5px;
    border: 1px solid #99ca58;
    background-color: #99ca58;
    box-shadow: 0px 0px 3px #99ca58;
}
.header_content .search:hover
{
    background-color: #76aa33;
    cursor: pointer;
}
.header_content .search_sanpham:focus {
    outline: none;
    border: 2px solid #99ca58; /* giữ nguyên màu viền ban đầu */
}
.giohang_content
{
    display: flex;
    margin: 0px 15px;
}
.giohang_content .giohang_center
{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}
/* menu */
#menu
{
    max-width: 100%;
    background-color: #000;
    color: #fff;
}
#menu .nav_menu
{
    display: flex;
}
#menu .nav_menu li
{
  list-style-type: none;
  padding: 5px 0px;
  margin: 10px 50px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
#menu .nav_menu li:hover
{
    color: #c4c4c4;
}
