* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    background-color: rgb(237, 234, 234);
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.left_header {
    display: flex;
    flex-wrap: wrap;
}

.email_header,
.clock_header,
.phone_header {
    display: flex;
    margin: 10px 40px;
    align-items: center;
}

.left_header .ingredient_header {
    font-size: 18px;
    color: #575656;
    line-height: 1;
    margin-left: 5px;
}

.email_header1:hover,
.phone_header1:hover {
    color: blue;
    cursor: pointer;
    text-decoration: underline solid blue;
}

/* right_header */
.right_header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.right_header ion-icon {
    width: 20px;
    height: 20px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 50%;
}

.right_header ion-icon:hover {
    background-color: red;
    color: #fff;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    #header {
        flex-direction: column;
        align-items: center;
    }

    .left_header,
    .right_header {
        justify-content: center;
    }

    .email_header,
    .clock_header,
    .phone_header {
        margin: 5px 0;
    }

    .right_header a {
        margin: 5px 10px;
    }
}

@media screen and (max-width: 480px) {
    .left_header .ingredient_header {
        font-size: 16px;
    }

    .right_header ion-icon {
        margin: 5px;
    }
}

/* content */
#content {
    max-width: 100%;
}

.header_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_content .logo {
    width: 180px;
    height: 180px;
}

.header_content .search:hover {
    background-color: #76aa33;
    cursor: pointer;
}


.giohang_content {
    display: flex;
    margin: 0px 15px;
}

.giohang_content .giohang_center {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}

/* menu */
#menu {
    width: 100vw;
    max-width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 1;
}

#menu .menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

#menu .nav_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}

#menu .nav_menu li {
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0px 30px;
}

#menu .nav_menu li:hover {
    color: red;
}

#menu .search {
    display: flex;
    align-items: center;
    border: 2px solid #8BC34A;
    border-radius: 5px;
    width: 300px;
  }
  
  #menu .search input[type="text"] {
    border: 1px solid #000;
    outline: none;
    padding: 10px;
    flex: 1;
  }
  
  #menu .search button {
    background-color: #8BC34A;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  #menu .search button img {
    width: 16px;
    height: 16px;
  }


#menu .search_nav_button:hover {
    background-color: #76aa33;
}

#menu .giohang_nav {
    display: flex;
    align-items: center;
}
/*  slider */
.slider{
    width: 99vw;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 1512.8px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 2%;
    width: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(226, 151, 151);
    color: #000;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: rgb(226, 151, 151);
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
/* content */
#content {
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap; 
    margin-top: 20px;
 }
 
 #content .sub_nav_content {
     width: 23%; 
     border: 1px solid;
     box-shadow: 0px 0px 5px greenyellow;
     margin-bottom: 20px;
     box-sizing: border-box;
     margin: 5px 5px;
 }
 
 .sub_nav_content .img_content {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .img_content img {
     width: 95%; 
     height: auto; 
     margin: 10px 0; 
 }
 
 .sub_nav_content .introduction {
     position: absolute;
     bottom: 10px;
     left: 50%;
     transform: translateX(-50%);
     color: white;
     background-color: rgba(0, 0, 0, 0.5);
     padding: 10px;
     margin: 10px 0px;
     white-space: nowrap;
     border-radius: 10px;
     text-align: center;
 }
 
 .sub_nav_content .introduction:hover {
     background-color: rgb(255, 255, 70);
     color: red;
     text-transform: uppercase;
     font-weight: bold;
     cursor: pointer;
     opacity: 0.7;
 }
 


/* Truy vấn media cho thiết kế đáp ứng */

/* Đối với máy tính bảng và màn hình nhỏ */
@media (max-width: 992px) {
    #content .sub_nav_content {
        width: 45%;
    }
}

/* Đối với điện thoại di động */
@media (max-width: 576px) {
    #content {
        justify-content: center;
    }
    #content .sub_nav_content {
        width: 90%;
    }
}


@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}
/* LASTET */
#laster
{
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
#laster .sanphammoi
{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
}
#laster .sub_laster
{
    font-size: 20px;
}
/* Responsive Styles for Menu */
@media screen and (max-width: 590px) {
    #menu .menu-toggle {
        display: block;
    }

    #menu .nav_menu {
        display: none;
        flex-direction: column;
    }

    #menu .nav_menu li {
        margin: 10px 0;
    }

    #menu .search_sanpham_nav {
        width: calc(100% - 45px);
        font-size: 12px;
    }


    #menu .search_nav,
    #menu .giohang_nav {
        width: 100%;
        justify-content: center;
        flex-direction: row;
    }

    #menu .nav_menu.show {
        display: flex;
    }
    .logg_tamthoi
    {
        display: none;
    }
    
}
/* Main Conent */
#main_content
{
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub_main_content
{
    width: 280px;
    height: 420px;
    background-color: #d8d8d8;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
.sub_main_content .div_picture
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub_main_content .div_picture img
{
    width: 260px;
    height: 260px;
    margin: 10px 10px;
    border-radius: 5px;
}
.color_nike
{
    display: flex;
}
.color_nike img
{
  width: 40px;
  height: 40px;
  border-radius: 2px;
  margin: 5px 0px;
  margin-left: 10px;
}
.tensanpham
{
    text-align: center;
}
.tensanpham .tieude_sanpham
{
    color: rgb(255, 81, 0);
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    margin-left: 10px;
}
.tensanpham .tenchinhsanpham
{
    font-size: 17px;
    font-weight: 550;
}
.tensanpham .price
{
    font-size: 20px;
    font-weight: bold;
}
.tensanpham .price:hover
{
    color: red;
}
/* phụ kiện thể thao */
.phukien_main_content
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* áo quần thể thao  */
.aoquan_main_content
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* bóng đá  */
.bongda_main_content
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* fotter */
#footer
{
   width: 100%;
  margin-top: 20px;
   background-color: #000;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.mienphivanchuyen
{
    display: flex;
}
.mienphivanchuyen .img_mienphivanchuyen img
{
    width: 30px;
    height: 30px;
    margin: 5px 5px;
}
.mienphivanchuyen .thongtin p
{
  margin: 5px 10px;
}