<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="/assets/View/trangchu/trangchu.css">
    <link rel="icon" type="image/x-icon" href="/assets/View/trangchu/image/logonav.png">
</head>
<body>
    <div class="main">
        <div id="header">
            <div class="left_header">
              <div class="email_header">
                <img style="width: 20px; height: 20px;" src="/assets/View/trangchu/image/icons8-email-30.png" alt="">
                <label class="ingredient_header email_header1" for="email">nguyenquanghuy110605@gamil.com</label>
              </div>
              <div class="clock_header">
                <img style="width: 20px; height: 20px;" src="/assets/View/trangchu/image/icons8-clock-30.png" alt="">
                <label class="ingredient_header" for="clock">08:00 - 22:00</label>
              </div>
              <div class="phone_header">
                <img style="width: 20px; height: 20px;" src="/assets/View/trangchu/image/icons8-phone-30.png" alt="">
                <label class="ingredient_header phone_header1" for="phone">+84 344 413 346</label>
              </div>
            </div>
            <div class="right_header">
                <a style="color: #000;" href="https://www.facebook.com/profile.php?id=100081001793968"><ion-icon name="logo-facebook"></ion-icon></a>
                <a style="color: #000;" href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                <a style="color: #000;" href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                <a style="color: #000;" href="#"><ion-icon name="chatbubble-ellipses-outline"></ion-icon></a>
                <a style="color: #000;" href="https://github.com/NGUYENQUANGHUY1106/QuangHuy_Sports11"><ion-icon name="logo-github"></ion-icon></a>
            </div>
        </div>

        <nav id="menu">
          <button class="menu-toggle">
            <img style="width: 50px;" src="/assets/View/trangchu/image/logonav.png" alt="">
          </button>
          <ul class="nav_menu">
            <li class="logg_tamthoi"><img src="/assets/View/trangchu/image/logonav (3).png" style="width: 100px;" alt=""></li>
            <li >Trang Chủ</li>
            <li>Giới Thiệu</li>
            <li>Khuyến Mãi</li>
            <li>Tin Tức</li>
            <li class="search_nav">
              <input class="search_sanpham_nav" type="text" placeholder="Tìm kiếm ở đây">
              <button class="search_nav_button">
                <ion-icon name="search-outline"></ion-icon>
              </button>
            </li>
            <li class="giohang_nav">
              <div class="giohang">
                <img src="/assets/View/trangchu/image/icons8-cart-30.png" alt="">
                <a style="text-decoration: none; color: #fff;" href="#">
                  <label for="" class="giohang_center">Giỏ Hàng</label>
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <div class="slider">
          <div class="list">
              <div class="item">
                  <img style="width: 1472.8px"  src="image/hình nền 5.webp" alt="">
              </div>
              <div class="item">
                  <img style="width: 1472.8px" src="image/hình nền 2.jpg" alt="">
              </div>
              <div class="item">
                  <img style="width: 1472.8px" src="image/hình nền 3.webp" alt="">
              </div>
              <div class="item">
                <img style="width: 1472.8px" src="image/hình nền 4.jpg" alt="">
            </div>
            <div class="item">
              <img style="width: 1472.8px" src="image/hình nền 1.png" alt="">
          </div>
          </div>
          <div class="buttons">
              <button id="prev"><</button>
              <button id="next">></button>
          </div>
          <ul class="dots">
              <li class="active"></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
          </ul>
      </div>

      <div id="content">
        <div class="sub_nav_content">
            <div class="img_content">
                <img src="/assets/View/trangchu/image/sub_nav_content.png" alt="">
                <p class="introdcuton">Giày Thể Thao</p>
            </div>
        </div>
        <div class="sub_nav_content">
            <div class="img_content">
                <img style="height: 400.34px;" src="/assets/View/trangchu/image/sub_nav_content2.png" alt="">
                <p class="introdcuton">Phụ Kiện Thể Thao</p>         
            </div>
        </div>
        <div class="sub_nav_content">
            <div class="img_content">
                <img style="height: 400.34px;" src="/assets/View/trangchu/image/sub_nav_content3.png" alt="">
                <p class="introdcuton">Áo Quần Thể Thao</p>
            </div>
        </div>
        <div class="sub_nav_content">
            <div class="img_content">
                <img style="height: 400.34px;" src="/assets/View/trangchu/image/sub_nav_content4.png" alt="">
                <p class="introdcuton">Bóng Đá</p>
            </div>
        </div>
      </div>
    
      <div id="laster">
        <p class="sanphammoi">
          SẢN PHẨM MỚI
        </p>
        <p class="sub_laster">
          GIÀY BÓNG ĐÁ -  GIÁ RẺ - DEAL SỐC 
        </p>
      </div>
     <!-- giày bóng đá -->
      <div id="main_content">
        <div class="sub_main_content">
          <div class="div_picture">
              <img id="main-image" src="/assets/View/trangchu/sanphamnoibat_img/vapor15 trà sửa.jpg" alt="">
          </div>
          <div class="color_nike">
              <img src="/assets/View/trangchu/sanphamnoibat_img/vapor15 trà sửa.jpg" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/vapor15 trà sửa.jpg">
              <img src="/assets/View/trangchu/sanphamnoibat_img/vapor15 hồng.jpg" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/vapor15 hồng.jpg">
          </div>
          <div class="tensanpham">
              <p class="tieude_sanpham">Giày Bóng Đá Chính Hãng</p>
              <p class="tenchinhsanpham">Nike Mercurial Vapor 15 Academy</p>
              <p style="font-size: 17px; color: green;" class="select_colorr">2 Color</p>
              <p class="price">2,479,000 VNĐ</p>
          </div>
        </div>
        
        <div class="sub_main_content">
          <div class="div_picture">
              <img id="main-image" src="/assets/View/trangchu/sanphamnoibat_img/supfly10_xanh.png" alt="">
          </div>
          <div class="color_nike">
              <img src="/assets/View/trangchu/sanphamnoibat_img/supfly10_xanh.png" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/supfly10_xanh.png">
              <img src="/assets/View/trangchu/sanphamnoibat_img/supfly10_den.png" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/supfly10_den.png">
          </div>
          <div class="tensanpham">
              <p class="tieude_sanpham">Giày Bóng Đá Chính Hãng</p>
              <p style="text-wrap: nowrap;" class="tenchinhsanpham">Nike Mercurial Superfly 10 Elite (FG)</p>
              <p style="font-size: 17px; color: green;" class="select_colorr">2 Color</p>
              <p class="price">8,059,000 VNĐ</p>
          </div>
        </div>

        <div class="sub_main_content">
          <div class="div_picture">
              <img id="main-image" src="/assets/View/trangchu/sanphamnoibat_img/predato_vang.jpg" alt="">
          </div>
          <div class="color_nike">
              <img src="/assets/View/trangchu/sanphamnoibat_img/predato_vang.jpg" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/predato_vang.jpg">
              <img src="/assets/View/trangchu/sanphamnoibat_img/predato_do.jpg" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/predato_do.jpg">
          </div>
          <div class="tensanpham">
              <p class="tieude_sanpham">Giày Bóng Đá Chính Hãng</p>
              <p style="text-wrap: nowrap;" class="tenchinhsanpham">Nike Mercurial Superfly 10 Elite (FG)</p>
              <p style="font-size: 17px; color: green;" class="select_colorr">2 Color</p>
              <p class="price">3,750,000 VNĐ</p>
          </div>
        </div>

        <div class="sub_main_content">
          <div class="div_picture">
              <img id="main-image" src="/assets/View/trangchu/sanphamnoibat_img/predato_den.jpg" alt="">
          </div>
          <div class="color_nike">
              <img src="/assets/View/trangchu/sanphamnoibat_img/predato_den.jpg" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/predato_den.jpg">
              <img src="/assets/View/trangchu/sanphamnoibat_img/predato_xanh.jpg" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/predato_xanh.jpg">
              <img src="/assets/View/trangchu/sanphamnoibat_img/predato_xanhbien.jpg" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/predato_xanhbien.jpg">
          </div>
          <div class="tensanpham">
              <p class="tieude_sanpham">Giày Bóng Đá Chính Hãng</p>
              <p style="text-wrap: nowrap;" class="tenchinhsanpham">X CRAZYFAST.3 (FG)</p>
              <p style="font-size: 17px; color: green;" class="select_colorr">3 Color</p>
              <p class="price">1.440,000 VNĐ</p>
          </div>
        </div>
      </div>
      <div id="laster">
        <p class="sanphammoi">
          PHỤ KIỆN THỂ THAO
        </p>
        <p style="margin-bottom: 25px;" class="sub_laster">
         PHỤ KIỆN THỂ THAO HOT -  GIÁ RẺ - DEAL SỐC 
        </p>
    </div>
    <!-- phụ kiện -->
   <div class="phukien_main_content">
    <div class="sub_main_content">
      <div class="div_picture">
          <img id="main-image" src="/assets/View/trangchu/sanphamnoibat_img/tat_adidas_trang.jpg" alt="">
      </div>
      <div class="color_nike">
          <img src="/assets/View/trangchu/sanphamnoibat_img/tat_adidas_trang.jpg" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/tat_adidas_trang.jpg">
          <img src="/assets/View/trangchu/sanphamnoibat_img/tat_adidas_den.jpg" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/tat_adidas_den.jpg">
      </div>
      <div class="tensanpham">
          <p class="tieude_sanpham">Phụ Kiện Thể Thao Chính Hãng</p>
          <p class="tenchinhsanpham">Tất Milano 23</p>
          <p style="font-size: 17px; color: green;" class="select_colorr">2 Color</p>
          <p class="price">300,000 VNĐ</p>
      </div>
    </div>

    <div class="sub_main_content">
      <div class="div_picture">
          <img id="main-image" src="/assets/View/trangchu/sanphamnoibat_img/balo_mu.jpg" alt="">
      </div>
      <div class="color_nike">
          <img src="/assets/View/trangchu/sanphamnoibat_img/balo_mu.jpg" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/balo_mu.jpg">
          <img src="/assets/View/trangchu/sanphamnoibat_img/balo_mu2.jpg" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/balo_mu2.jpg">
          <img src="/assets/View/trangchu/sanphamnoibat_img/balo_mu3.jpg" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/balo_mu3.jpg">
      </div>
      <div class="tensanpham">
          <p class="tieude_sanpham">Phụ Kiện Thể Thao Chính Hãng</p>
          <p style="margin: 11px 0px;" class="tenchinhsanpham">Balo ManChester United</p>
          <p class="price">300,000 VNĐ</p>
      </div>
    </div>

    <div class="sub_main_content">
      <div class="div_picture">
          <img id="main-image" src="/assets/View/trangchu/sanphamnoibat_img/gangtay1.jpg" alt="">
      </div>
      <div class="color_nike">
          <img src="/assets/View/trangchu/sanphamnoibat_img/gangtay1.jpg" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/gangtay1.jpg">
          <img src="/assets/View/trangchu/sanphamnoibat_img/gangtay2.jpg" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/gangtay2.jpg">
          <img src="/assets/View/trangchu/sanphamnoibat_img/gangtay3.jpg" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/gangtay3.jpg">
      </div>
      <div class="tensanpham">
          <p class="tieude_sanpham">Phụ Kiện Thể Thao Chính Hãng</p>
          <p class="tenchinhsanpham">NONSLIP 24</p>
          <p style="font-size: 17px; color: green;" class="select_colorr">3 Color</p>
          <p class="price">620,000 VNĐ</p>
      </div>
    </div>

    <div class="sub_main_content">
      <div class="div_picture">
          <img id="main-image" src="/assets/View/trangchu/sanphamnoibat_img/ốpbaove.avif" alt="">
      </div>
      <div class="color_nike">
          <img src="/assets/View/trangchu/sanphamnoibat_img/ốpbaove.avif" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/ốpbaove.avif">
          <img src="/assets/View/trangchu/sanphamnoibat_img/ốpbaove2.avif" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/ốpbaove2.avif">
      </div>
      <div class="tensanpham">
          <p class="tieude_sanpham">Phụ Kiện Thể Thao Chính Hãng</p>
          <p class="tenchinhsanpham">ỐP BẢO VỆ ỐNG CHÂN TIRO</p>
          <p style="font-size: 17px; color: green;" class="select_colorr">2 Color</p>
          <p class="price">550,000 VNĐ</p>
      </div>
    </div>
   </div>

  <div id="laster">
    <p class="sanphammoi">
      ÁO QUẦN  THỂ THAO
    </p>
    <p style="margin-bottom: 25px;" class="sub_laster">
     PHỤ KIỆN THỂ THAO HOT -  GIÁ RẺ - DEAL SỐC 
    </p>
  </div>
  <!-- áo quần -->
  <div class="aoquan_main_content">
    <div class="sub_main_content">
      <div class="div_picture">
          <img id="main-image" src="/assets/View/trangchu/sanphamnoibat_img/aobongdamu_do.avif" alt="">
      </div>
      <div class="color_nike">
          <img src="/assets/View/trangchu/sanphamnoibat_img/aobongdamu_do.avif" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/aobongdamu_do.avif">
          <img src="/assets/View/trangchu/sanphamnoibat_img/aobongdamu_xanh.avif" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/aobongdamu_xanh.avif">
          <img src="/assets/View/trangchu/sanphamnoibat_img/aobongda_docaro.avif" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/aobongda_docaro.avif">
      </div>
      <div class="tensanpham">
          <p class="tieude_sanpham">Áo Bóng Đá Chính Hãng</p>
          <p class="tenchinhsanpham">Áo Thi Đấu ManChester United</p>
          <p style="font-size: 17px; color: green;" class="select_colorr">3 Color</p>
          <p class="price">750,000 VNĐ</p>
      </div>
    </div>

    <div class="sub_main_content">
      <div class="div_picture">
          <img id="main-image" src="/assets/View/trangchu/sanphamnoibat_img/aobongda_real_cam.avif" alt="">
      </div>
      <div class="color_nike">
          <img src="/assets/View/trangchu/sanphamnoibat_img/aobongda_real_cam.avif" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/aobongda_real_cam.avif">
          <img src="/assets/View/trangchu/sanphamnoibat_img/aobongda_real_tim.avif" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/aobongda_real_tim.avif">
          <img src="/assets/View/trangchu/sanphamnoibat_img/aobongda_real_trang.avif" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/aobongda_real_trang.avif">
      </div>
      <div class="tensanpham">
          <p class="tieude_sanpham">Áo Bóng Đá Chính Hãng</p>
          <p class="tenchinhsanpham">Áo Thi Đấu Real Marid</p>
          <p style="font-size: 17px; color: green;" class="select_colorr">3 Color</p>
          <p class="price">650,000 VNĐ</p>
      </div>
    </div>

    <div class="sub_main_content">
      <div class="div_picture">
          <img id="main-image" src="/assets/View/trangchu/sanphamnoibat_img/aobongda_argentina_xanh.avif" alt="">
      </div>
      <div class="color_nike">
          <img src="/assets/View/trangchu/sanphamnoibat_img/aobongda_argentina_xanh.avif" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/aobongda_argentina_xanh.avif">
          <img src="/assets/View/trangchu/sanphamnoibat_img/aobongda_argentina_tim.avif" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/aobongda_argentina_tim.avif">
          <img src="/assets/View/trangchu/sanphamnoibat_img/aobongda_argentina_xanhdam.avif" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/aobongda_argentina_xanhdam.avif">
      </div>
      <div class="tensanpham">
          <p class="tieude_sanpham">Áo Bóng Đá Chính Hãng</p>
          <p class="tenchinhsanpham"> Áo Thi Đấu Argentina</p>
          <p style="font-size: 17px; color: green;" class="select_colorr">3 Color</p>
          <p class="price">810,000 VNĐ</p>
      </div>
    </div>

    <div class="sub_main_content">
      <div class="div_picture">
          <img id="main-image" src="/assets/View/trangchu/sanphamnoibat_img/aobongda_mc_trang.png" alt="">
      </div>
      <div class="color_nike">
          <img src="/assets/View/trangchu/sanphamnoibat_img/aobongda_mc_trang.png" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/aobongda_mc_trang.png">
          <img src="/assets/View/trangchu/sanphamnoibat_img/aobongda_mc_tim.avif" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/aobongda_mc_tim.avif">
          <img src="/assets/View/trangchu/sanphamnoibat_img/aomancity_xanh.avif" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/aomancity_xanh.avif">
      </div>
      <div class="tensanpham">
          <p class="tieude_sanpham">Áo Bóng Đá Chính Hãng</p>
          <p class="tenchinhsanpham">Áo Thi Đấu ManChester City</p>
          <p style="font-size: 17px; color: green;" class="select_colorr">3 Color</p>
          <p class="price">720,000 VNĐ</p>
      </div>
    </div>
  </div>
  <!-- bóng đá -->
  <div id="laster">
    <p class="sanphammoi">
      Bóng Đá - Thể Thao
    </p>
    <p style="margin-bottom: 25px;" class="sub_laster">
     PHỤ KIỆN THỂ THAO HOT -  GIÁ RẺ - DEAL SỐC 
    </p>
  </div>
  <div class="bongda_main_content">
    <div class="sub_main_content">
      <div class="div_picture">
          <img id="main-image" src="/assets/View/trangchu/sanphamnoibat_img/bongdapre.jpg" alt="">
      </div>
      <div class="color_nike">
          <img src="/assets/View/trangchu/sanphamnoibat_img/bongdapre.jpg" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/bongdapre.jpg">
          <img src="/assets/View/trangchu/sanphamnoibat_img/bongdapre2.jpg" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/bongdapre2.jpg">
      </div>
      <div class="tensanpham">
          <p style="margin: 5px 10px;" class="tieude_sanpham">Bóng Đá Chính Hảng</p>
          <p style="margin: 5px 0px;" class="tenchinhsanpham">Bóng Premier League Club Elite</p>
          <p style="margin: 5px 0px;" class="price">1,579,000 VNĐ</p>
      </div>
    </div>

    <div class="sub_main_content">
      <div class="div_picture">
          <img id="main-image" src="/assets/View/trangchu/sanphamnoibat_img/bongpumavang.avif" alt="">
      </div>
      <div class="color_nike">
          <img src="/assets/View/trangchu/sanphamnoibat_img/bongpumavang.avif" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/bongpumavang.avif">
          <img src="/assets/View/trangchu/sanphamnoibat_img/bongpumaxanh.avif" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/bongpumaxanh.avif">
      </div>
      <div class="tensanpham">
          <p class="tieude_sanpham"> Bóng Đá Chính Hãng</p>
          <p class="tenchinhsanpham">PUMA Cumbre CONMEBOL 2024</p>
          <p style="font-size: 17px; color: green;" class="select_colorr">2 Color</p>
          <p class="price">1,250,000 VNĐ</p>
      </div>
    </div>

    <div class="sub_main_content">
      <div class="div_picture">
          <img id="main-image" src="/assets/View/trangchu/sanphamnoibat_img/bongmu.avif" alt="">
      </div>
      <div class="color_nike">
          <img src="/assets/View/trangchu/sanphamnoibat_img/bongmu.avif" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/bongmu.avif">
          <img src="/assets/View/trangchu/sanphamnoibat_img/bongmu2.avif" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/bongmu2.avif">
          <img src="/assets/View/trangchu/sanphamnoibat_img/bongmu3.avif" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/bongmu3.avif">
      </div>
      <div class="tensanpham">
          <p style="margin: 5px 10px;" class="tieude_sanpham"> Bóng Đá Chính Hãng</p>
          <p style="margin: 5px 10px;" class="tenchinhsanpham"> Bóng Thi Đấu ManChester United</p>
          <p style="margin: 5px 10px;" class="price">1,150,000 VNĐ</p>
      </div>
    </div>

    <div class="sub_main_content">
      <div class="div_picture">
          <img id="main-image" src="/assets/View/trangchu/sanphamnoibat_img/bongjocker.webp" alt="">
      </div>
      <div class="color_nike">
          <img src="/assets/View/trangchu/sanphamnoibat_img/bongjocker.webp" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/bongjocker.webp">
          <img src="/assets/View/trangchu/sanphamnoibat_img/bongjocker2.webp" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/bongjocker2.webp">
          <img src="/assets/View/trangchu/sanphamnoibat_img/bongjocker3.webp" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/bongjocker3.webp">
          <img src="/assets/View/trangchu/sanphamnoibat_img/bongjocker4.webp" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/bongjocker4.webp">
          <img src="/assets/View/trangchu/sanphamnoibat_img/bongjocker5.webp" alt="" data-src="/assets/View/trangchu/sanphamnoibat_img/bongjocker5.webp">
      </div>
      <div class="tensanpham">
          <p class="tieude_sanpham"> Bóng Đá Chính Hãng</p>
          <p class="tenchinhsanpham">Bóng Jocker Sport </p>
          <p style="font-size: 17px; color: green;" class="select_colorr">5 Color</p>
          <p class="price">720,000 VNĐ</p>
      </div>
    </div>
  </div>
  <!-- thông tin khác -->
  <div id="footer">
   <div style="margin-left: 30px;" class="mienphivanchuyen">
     <div class="img_mienphivanchuyen">
      <img src="/assets/View/trangchu/image/fotter/giaohang.png" alt="">
     </div>
     <div class="thongtin">
       <p> Miển Phí Vận Chuyển </p>
       <p>Với Đơn Hàng Trên 1Tr VNĐ</p>
     </div>
   </div>

   <div class="mienphivanchuyen">
    <div class="img_mienphivanchuyen">
     <img src="/assets/View/trangchu/image/fotter/dienthoai.png" alt="">
    </div>
    <div class="thongtin">
      <p> Hổ Trợ 24/7 </p>
      <p>Hổ Trợ 24h/ngày và 7 ngày/tuần</p>
    </div>
  </div>

  <div class="mienphivanchuyen">
    <div class="img_mienphivanchuyen">
     <img src="/assets/View/trangchu/image/fotter/trahnag.png" alt="">
    </div>
    <div class="thongtin">
      <p> 30 Ngày Trả Hàng </p>
      <p> Trả Lại Hàng Trong Vòng 30 ngày</p>
    </div>
  </div>
  </div>
<script src="trangchu.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>    
</body>
</html>
